<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.zhadan"/>
    <context:annotation-config/>

    <!-- This is a quick and dirty way to setup a datasource -->
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/jkinopoisk"/>
        <property name="username" value="root"/>
        <property name="password" value="sadmin"/>
    </bean>

    <!--<jee:jndi-lookup id="dataSource"-->
    <!--jndi-name="jdbc/jkinopoisk"-->
    <!--expected-type="javax.sql.DataSource"/>-->

    <!--<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">-->
    <!--<property name="jndiName" value="java:comp/env/jdbc/jkinopoisk"/>-->
    <!--</bean>-->

    <bean id="actorDao" class="com.zhadan.dao.jdbc.ActorDaoJdbcImpl">
    </bean>
    <bean id="movieDao" class="com.zhadan.dao.jdbc.MovieDaoJdbcImpl">
    </bean>
    <bean id="userDao" class="com.zhadan.dao.jdbcTemplates.UserDaoJdbcTemplateImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>