<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--jdbc-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://ec2-23-21-211-172.compute-1.amazonaws.com:3306/jkinopoisk
        </property>
        <property name="connection.username">andrey91zh</property>
        <property name="connection.password">Jkinopoisk1111</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <!--mapping-->
        <mapping class="com.zhadan.bean.User"/>
        <mapping class="com.zhadan.bean.Role"/>
    </session-factory>
</hibernate-configuration>